<header id="site-head" xmlns="http://www.w3.org/1999/html">
    <div id="site-head-content" class="inner">
        <a class="logo" href="{{@blog.url}}">
            <h1>B<span class="logo_o">o</span>unce</h1>
        </a>
    </div>
    <div id="page_head">
        {{> worktypes}}
    </div>
</header>
