
<nav id="main_nav" class="default_nav">
    <ul>
        {{#each category}}
        <li class="workTypes">
            <a id="navto{{id}}" href="#{{id}}">{{id}}</a>
        </li>
        {{/each}}
    </ul>
</nav>
