
<nav id="main_nav" class="default_nav">
    <ul>
        <li id="websites" class="workTypes">
            <a href="#/websites">
                Websites
            </a>
        </li>
        <li id="code" class="workTypes">
            <a href="#/code">
                Code
            </a>
        </li>
        <li id="experiments" class="workTypes">
            <a href="#/experiments">
                Experiments
            </a>
        </li>
        <li id="designs" class="workTypes">
            <a href="#/designs">
                Designs
            </a>
        </li>
    </ul>
</nav>
