$blue : #79DAFF;

@font-face{
	font-family: Avenir;
	src: url("/sass/fonts/avenir_next.ttf");
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
ul, h1, h2, h3, h4, h5 , h6, ul, li, p{
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-padding-start:0
}
html { font-size: 62.5%; }
header, footer, nav {
	a{
		transition: all 1s;
		color: white;
		&:hover{
			transition: all 1s;
			color: #0F5485;
			background: #eee;
		}
	}
}
.top_nav{
		width: 100%;
		position: relative;
		height: 8rem;
		position:absolute;
		ul{
			display: flex;
			flex-direction: row;
			align-content: center;
			justify-content: flex-end;
			height: 100%;
			max-width: 96rem;
			min-width: 40rem;
			margin: auto;
		}
		li{
			display: table;
			text-align: center;
			transition: all 0.5s;
			background: #79DAFF;
			width: 7rem;
			height: 7rem;
			padding: 0.5rem;
		a{
			display: table-cell;
			vertical-align:middle;
			border: 1px solid white;
			border-radius: 50%;
		}
	}
}
body{
	font: normal normal 100 1.6rem "Avenir";
	background: #f5f5f5;
}
body, header, footer, .main{
	margin: auto;
}
.main, header h1{
	margin: auto;
	max-width: 96rem;
	min-width: 40rem;
	width: 100%;
}
header{
	background: $blue;
	height: 8rem;
	display: flex;
	h1{
		padding-left: 4rem;
	}
}
h1 {
	font-size: 4.4rem;
	color: white;
 }
table {
	background: white;
	border-collapse: collapse;
	font: normal normal 100 2rem "Avenir" sans-serif;
}
table, thead, tbody, tfoot {
	width: 100%;
}
thead {
	font-size: 2.3rem;
}
tbody {
	border-top: 20px;
}
tr {
	width: 100%;
	border-spacing: 0;
	height: 60px;
}
th{
	padding-left: 2rem;
}
td {
	padding: 1rem 0 0 2rem;
}
.hider{
	background:transparent;
	padding: 5px;
	border-left: none;
	border-right: none;
}

.price, .description{
	padding-right: 60px;
	text-align: left;
}
.price {
	white-space: nowrap;
}
.description{
	text-transform: lowercase;
}
sup{
font-size: 1.2rem;
}
tfoot{
	sup{
		font-size: 0.8rem;
	}
	tr:first-of-type td:first-of-type{
		padding-top: 30px;
	}
	font: normal normal 300 1.4rem "Avenir", sans-serif;
	tr{
		height: 30px;
	}
	td{
		padding: 0.5rem 0 0 2rem;
	}
}
tfoot td{
}

footer{
	width: 100%;
	background: $blue;
	>div{
		max-width: 96rem;
		min-width: 40rem;
		margin:auto;
	}
	p{
		display: table;
		float:right;
		color: white;
		padding: 0.5rem;
		a{
			border: 1px solid white;
			border-radius: 50%;
			width: 7rem;
			height: 7rem;
			display:table-cell;
			vertical-align: middle;
			text-align:center;
			color:white;
		}
	}
}
.stripe{
	height: 6rem;
}
.animating{
	  -webkit-backface-visibility: hidden;
	  -webkit-transition: translate3d(0,0,0);
}


  #recommendation{
    blockquote{}
    p{}
  }
#resume{}
#education{}
#experience{}
#skills{}
.major_section{
  .section_header{}
}
.position{
  header{
    h1{}
  }
  ul{
    li{}
  }
}
/*

<aside id="recommendation">
    <blockquote>
    <p>
<section id="resume">
    <article id="education" class="major_section">
        <header class="section_header">
        <section class="position">
            <header>
            <ul>
    <section id="experience" class="major_section">
        <header class="section_header">
        <section class="position">
            <header>
                <h1>
            <ul>
                <li>
    <article id="skills" class="major_section">
        <header class="section_header">
            <h1>
            <section>
                <header>
                    <h1>
                <ul>*/

.cf {
  overflow: hidden;
  &:before, &:after{
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.hide{
  position: absolute;
  height: 0;
  top: 0;
  width: 0;
  left: 0;
  opacity: 0.0;

}