{% extends 'layout.html' %}
    {% block title %}
        Swiggidy swag.
    {% endblock %}
        <h1>public</h1>
    {% block navItems %}
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/contact">contact</a>
            </li>
    {% endblock %}
{% block pageHeader %}
        <header>
            <h1>rates</h1>
        </header>
{% endblock %}
{% block content %}
            <table id="rates">
                <thead>
                    <tr>
                        <th class="price">price</th>
                        <th class="description">description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="price">$80 / $140<span> <sup>1</sup></span></td>
                        <td class="description">register the domain name,  buy hosting, set up user accounts, emails, etc. </td>
                    </tr>
                    <tr>
                        <td class="price">$80</td>
                        <td class="description"> install site/database,  set up security features and site analytics</td>
                    </tr>
                    <tr>
                        <td class="price">$30/hour</td>
                        <td class="description">Generate <a href="http://en.wikipedia.org/wiki/Website_wireframe" rel="nofollow">wireframes</a> for layout, <a href="http://en.wikipedia.org/wiki/Interaction_design" rel="nofollow" >design interactions</a> and color schemes.</td>
                    </tr>
                    <tr>
                        <td class="price">$25/hour</td>
                        <td class="description">code.</td>
                    </tr>
                    <tr>
                        <td class="price">$20/hour</td>
                        <td class="description">Upload first-draft of content <span><sup>2</sup></span></td>
                    </tr>
                    <tr>
                        <td class="price">$10/hour</td>
                        <td class="description">keep site's cms updated</td>
                    </tr>
                    <tr>
                        <td class="price">breakfast</td>
                        <td class="description">meet to go over wireframes, interactions and color schemes</td>
                    </tr>
                    <tr>
                        <td class="price">breakfast</td>
                        <td class="description">Teach you how to upload content and how to use site.</td>
                    </tr>
                    <tr>
                        <td class="price">free</td>
                        <td class="description">"how do I" text/email messages<sup>3</sup></td>
                    </tr>
                    <tr>
                        <td class="price">free</td>
                        <td class="description">consultation</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"><sup>1</sup>Most of the cost here is from the hosting- $5-$10/month depending on which hosting package you prefer.</td>
                    </tr>
                    <tr>
                        <td colspan="2"><sup>2</sup> First-draft content essentially means the stuff for landing page.</td>
                    </tr>
                    <tr>
                        <td colspan="2"><sup>3</sup> For the first 90 days; thereafter if they're short also free.</td>
                    </tr>
                </tfoot>
            </table>

{% endblock %}