{% extends 'layout.html' %}
{% block title %}
Swiggidy swag.
{% endblock %}
{% block navItems %}
<li>
    <a href="/">home</a>
</li>
<li>
    <a href="mailto:andrew.luhring@gmail.com">contact</a>
</li>
{% endblock %}
{% block  page_header %}
<h1>Andrew Luhring's Résumé</h1>
{% endblock %}
{% block content %}
<aside id="recommendation">
    <blockquote>“Andrew is a patient, knowledgeable and personable helper of all things digital.”</blockquote>
    <p>&mdash; Dimitri Smirniotopoulos; President at <a rel="nofollow" href="http://www.dsiarchitects.com">DSI
        Architects</a></p>
    <!--  blockquote is valid because it is a quote with a reference NOT a conversation; cite is not relevant because it is not part of a larger body of work http://www.whatwg.org/specs/web-apps/current-work/multipage/grouping-content.html#the-blockquote-element-->
</aside>
<section id="resume">
    <article id="education" class="major_section">
        <header class="section_header">
            <h1>Education</h1>
        </header>
        <section class="position">
            <header>
                <h1>School of the Art Institute of Chicago, Chicago, IL  BFA, 2011/2012</h1>
            </header>
            <ul>
            Focus in:
                <li>Art & Technology</li>
                ,
                <li>Visual Design</li>
                and
                </li>Interior Architecture</li>.
            </ul>
            <ul>
                <ul>
                    <li>
        Recipient of a Merit Scholarship award.
                    </li>
        </section>
    </article>
    <section id="experience" class="major_section">
        <header class="section_header">
            <h1>Experience</h1>
        </header>
        <article class="position">
            <header>
                <h1>
                    Front-End Web Developer (Freelance), Tribune Company; Chicago, IL  2013 (Present)
                </h1>
            </header>
            <ul>
                 <li>I brainstorm, collaborate and develop site features and interactions with the User Experience team.</li>
                 <li>I translate designs from the User Experience team into CSS3, HTML5, JavaScript and JSP code.</li>
                 <li>I co-manage the Advertiser Services’ repository of the upcoming Los Angeles Times and Chicago Tribune sites. </li>
                <li>I fix, debug, optimize and extend existing code.</li>
                 <li>I create channels for communication to reduce barriers and increase understanding.</li>
            </ul>
        </article>
        <article class="position">
            <header>
                <h1>Front-End Web Developer (Full-Time), Artistic Digital Services; Evanston, IL  2012 - 2013</h1>
            </header>
            <ul>
                <li>I translated designs into code using the latest HTML5, CSS3, jQuery and Javascript standards;.</li>
                <li>I fixed, extended and optimized existing websites;.</li>
                <li>I taught clients how to use and update their websites;.</li>
                <li>I created, expanded and deciphered WordPress themes;.</li>
                <li>I migrated and adapted content to WordPress and WolfCMS;.</li>
                <li>I built forms that sanitize and validate using jQuery/Javascript before submitting to PHP;.</li>
                <li>I performed basic white box security analysis.</li>
            </ul>
        </article>
        <article class="position">
            <header>
                <h1>Front-End Web Developer (Freelance), Cubicle Ninjas; Glen Ellyn, IL  2012</h1>
            </header>
            <ul>
                <li>I coded designs into websites and fell in love with SASS (Syntactically Awesome Stylesheets) and Bourbon.</li>
            </ul>
        </article>
        <article class="position">
            <header>
                <h1>Intern, Capacitr; Chicago, IL  2012</h1>
            </header>
            <ul>
                <li>I wireframed, designed, and built a website and assisted with SEO optimization.</li>
            </ul>
        </article>
        <article class="position">
            <header>
                <h1> Website Administrator, B is for Bounce; Chicago, IL  2008 - Present</h1>
            </header>
            <ul>
                <li>I design, manage, co-author, edit and market the content for the electronic music blog bisforbounce.com.</li>
            </ul>
        </article>
    </section>
    <article id="skills" class="major_section">
        <header class="section_header">
            <h1>Skills </h1>
        </header>
        <section class="skills_list">
            <header>
                <h1>￼Proficient in:</h1>
            </header>
            <ul>
                <div>
                    <li>
                        HTML5
                    </li>
                    <li>
                        CSS3
                    </li>
                    <li>
                        SASS + SCSS
                    </li>
                    <li>
                        jQuery + jQueryUI
                    </li>
                    <li>
                        JavaScript + AJAX + JSON
                    </li>
                </div>
                <div>
                    <li>
                        BASH
                    </li>
                    <li>
                        GIT
                    </li>
                    <hr/>
                    <li>
                        WordPress
                    </li>
                    <li>
                        Photoshop
                    </li>
                    <li>
                        Illustrator
                    </li>
                </div>
                <div>
                    <hr/>
                    <li>
                        Mobile / Responsive Development
                    </li>
                    <li>
                        Web Standards Model
                    </li>
                    <li>
                        Cross-browser Compatibility
                    </li>
                    <li>
                        Search Engine Optimization
                    </li>
                    <li>
                        Web Application Security
                    </li>
                </div>
            </ul>
        </section>
        <section class="skills_list">
            <header><h1>Familiar with:</h1></header>
            <ul>
                <div>
                <li>
                    PHP
                </li>
                <li>
                    MySQL
                </li>
                <li>
                    Heroku
                </li>
                    </div>
                <div>
                <li>
                    Node.js + Express
                </li>
                <li>
                    Angular.js
                </li>
                <li>
                    Swig
                </li>
                    </div>
                <div>
                <li>
                    Ruby + Ruby on Rails
                </li>
                <li>
                    JSP
                </li>
                <li>
                    SVN
                </li>
                    </div>
            </ul>
        </section>
    </article>
</section>
{% endblock %}
