{% extends 'layout.html' %}
{% block title %}
Swiggidy swag.
{% endblock %}
{% block navItems %}
<li>
    <a href="/">home</a>
</li>
<li>
    <a href="mailto:andrew.luhring@gmail.com">contact</a>
</li>
{% endblock %}
{% block  page_header %}
<h1>Andrew Luhring's Résumé</h1>
{% endblock %}
{% block content %}
    <aside id="recommendation">
        <blockquote>“Andrew is a patient, knowledgeable and personable helper of all things digital.”</blockquote>
        <p>&mdash; Dimitri Smirniotopoulos; President at <a rel="nofollow" href="http://www.dsiarchitects.com">DSI Architects</a></p>
        <!--  blockquote is valid because it is a quote with a reference NOT a conversation; cite is not relevant because it is not part of a larger body of work http://www.whatwg.org/specs/web-apps/current-work/multipage/grouping-content.html#the-blockquote-element-->
    </aside>
    <section id="resume">
        <article id="resume" class="major_section">
                <header><h1>EDUCATION</h1></header>
                School of the Art Institute of Chicago, Chicago, IL — BFA, 2011/2012 Focus in Art & Technology, Visual
                Design
                and Interior Architecture.
                Recipient of a Merit Scholarship award.
            </article>
        <section id="experience" class="major_section">
                <header class="section_header">
                    <h1>EXPERIENCE</h1>
                </header>
            <article class="position">
                <header>
                    <h1>
                        Front-End Web Developer (Freelance), Tribune Company; Chicago, IL — 2013 (Present)
                    </h1>
                </header>
                <ul>
                    — I brainstorm, collaborate and develop site features and interactions with the User Experience team.
                    — I translate designs from the User Experience team into CSS3, HTML5, JavaScript and JSP code.
                    — I co-manage the Advertiser Services’ repository of the upcoming Los Angeles Times and Chicago Tribune
                    sites. —
                    I fix, debug, optimize and extend existing code.
                    — I create channels for communication to reduce barriers and increase understanding.
                </ul>
            </article>
            <article class="position">
                <header>
                    <h1>Front-End Web Developer (Full-Time), Artistic Digital Services; Evanston, IL — 2012 - 2013</h1>
                </header>
                <ul>
                    I translated designs into code using the latest HTML5, CSS3, jQuery and Javascript standards;
                    — I fixed, extended and optimized existing websites;
                    — I taught clients how to use and update their websites;
                    — I created, expanded and deciphered WordPress themes;
                    — I migrated and adapted content to WordPress and WolfCMS;

                    — I built forms that sanitize and validate using jQuery/Javascript before submitting to PHP; — I performed
                    basic
                    white box security analysis.
                    Front-End Web Developer (Freelance), Cubicle Ninjas; Glen Ellyn, IL — 2012
                    — I coded designs into websites and fell in love with SASS (Syntactically Awesome Stylesheets) and Bourbon.
                </ul>
            </article>
            <article class="position">
                <header>
                    <h1>Intern, Capacitr; Chicago, IL — 2012</h1>
                </header>
                <ul>
                    — I wireframed, designed, and built a website and assisted with SEO optimization.
                </ul>
            </article>
            <article class="position">
                <header>
                    <h1> Website Administrator, B is for Bounce; Chicago, IL — 2008 - Present</h1>
                </header>
                <ul>
                    — I design, manage, co-author, edit and market the content for the electronic music blog bisforbounce.com.
                </ul>
            </article>
        </section>
        <article id="skills" class="major_section">
            <header class="section_header">
                <h1>Skills </h1>
                </header>
            <section>
                <header>
                    <h1>￼Proficient in:</h1>
                </header>
                <ul>
                    <li>
                    HTML5
                    </li>
                    <li>
                    CSS3
                    </li>
                    <li>
                    SASS + SCSS
                    </li>
                    <li>
                    jQuery + jQueryUI
                    </li>
                    <li>
                    JavaScript + AJAX + JSON
                    </li>
                    <li>
                    BASH
                    </li>
                    <li>
                    GIT
                    </li>
                    <hr />
                    <li>
                    WordPress
                    </li>
                    <li>
                    Photoshop
                    </li>
                    <li>
                    Illustrator
                    </li>
                    <hr />
                    <li>
                    Mobile / Responsive Development
                    </li>
                    <li>
                    Web Standards Model
                    </li>
                    <li>
                    Cross-browser Compatibility
                    </li>
                    <li>
                    Search Engine Optimization
                    </li>
                    <li>
                    Web Application Security
                    </li>
                </ul>
            </section>
            <section>
                <header><h1>Familiar with:</h1></header>
                <ul>

                    <li>
                    PHP
                    </li>
                    <li>
                    MySQL
                    </li>
                    <li>
                    Heroku
                    </li>
                    <li>
                    Node.js + Express
                    </li>
                    <li>
                    Angular.js
                    </li>
                    <li>
                    Swig
                    </li>
                    <li>
                    Ruby + Ruby on Rails
                    </li>
                    <li>
                    JSP
                    </li>
                    <li>
                    SVN
                    </li>
                </ul>
            </section>
        </article>
</section>
{% endblock %}


    ￼￼Portfolio: http://www.androo.pro

    References available upon request.
