<!DOCTYPE html>
<html lang="en" ng-app="served">
    <head>
        <base href="http://localhost:3000/" />
        <meta charset="utf-8" />
        <title>
            {% block title %} Index {% endblock %}
        </title>
        <meta name="description" content="An epic node server" />
        <meta name="author" content="Andrew S Luhring" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/styles/style.css"/>
        <script src="js/jquery.js" ></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript">
            var myApp = angular.module('myApp', [], function ($interpolateProvider) {
                $interpolateProvider.startSymbol('[[');
                $interpolateProvider.endSymbol(']]');
            });
        </script>
        {% block headExtra %} {% endblock %}
    </head>

    <body>
        {% block topNav %}
        <nav class="top_nav">
            <ul>
                {% block navItems %}
                {% endblock %}
            </ul>
        </nav>
        {% endblock %}
        {% block pageHeader %}
        <header>
            <h1>
                default
            </h1>
        </header>
        {% endblock %}
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="cf">
        {% block footer %}
            <div>
                <p>
                    <a href="http://www.androo.pro">swag</a>
                </p>
           </div>
        {% endblock %}
        </footer>
        {% block scripts %}
        <script src="js/jqTransit.js"></script>
        <script src="js/script.js"></script>
        {% endblock %}
    </body>
</html>
