@font-face {
  font-family: "monofur";
  src: url("monofur.ttf");
  src: url("../../monof55.woff"); }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  background: whitesmoke;
  color: #111111;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0; }

a {
  text-decoration: none;
  transition: all 1s;
  color: #f05341; }
a:hover {
  transition: all 1s;
  background: #75dec8; }

li {
  list-style-type: none; }

ul, h1, h2, h3, h4, h5, h6, ul, li, p, hr, blockquote {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 900;
  color: #111111; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.8rem; }

#site-head a {
  display: block; }

#site-head, #site-head > div {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  flex-flow: column;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  text-align: center;
  background: #1d2c41; }

#site-head-content {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }
#site-head-content .logo {
  position: relative; }
#site-head-content .logo h1 {
  color: #fffbcf;
  font-size: 15rem;
  font-family: "monofur";
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: -9px;
  word-spacing: 0px;
  top: 0px; }

.logo_o {
  position: relative; }

.button {
  display: table;
  float: right;
  color: white;
  padding: 0.5rem; }
.button a {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #1d2c41;
  color: #fffbcf;
  border: 2px solid #f05341; }
.button a:hover {
  color: #9fedea;
  background: #f05341;
  border-color: #fffbcf; }

.post {
  background: #9fedea;
  display: flex;
  flex-flow: column;
  margin: 20rem auto;
  position: relative;
  width: 100%; }

.post-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  flex-flow: column;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center;
  background: #1d2c41;
  padding: 2rem; }

.post-title {
  color: #fffbcf; }

.post-excerpt {
  max-width: 66%;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center; }

.post-meta {
  display: none; }

.cf {
  overflow: hidden; }
.cf:before, .cf:after {
  content: "";
  display: table; }
.cf:after {
  clear: both; }

.hide {
  position: absolute;
  height: 0;
  top: 0;
  width: 0;
  left: 0;
  opacity: 0.0; }

.collapsed {
  position: relative;
  top: 100rem; }

.major_section.collapsed {
  top: 0;
  height: 8rem; }

.collapsed {
  transition-property: all;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all; }
