@font-face {
  font-family: "monofur";
  src: url("../fonts/monof55.woff");
  src: url("../fonts/monofur.ttf");
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: whitesmoke;
  color: #111111;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 1s;
  color: #f05341;
}
a:hover {
  transition: all 1s;
}

ul, li {
  list-style-type: none;
}

ul, h1, h2, h3, h4, h5, h6, ul, li, p, hr, blockquote, menu, dir {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  -moz-padding-start: 0;
  -moz-padding-end: 0;
  -moz-padding-before: 0;
  -moz-padding-after: 0;
  -ms-margin-before: 0;
  -ms-margin-after: 0;
  -ms-margin-start: 0;
  -ms-margin-end: 0;
  -ms-padding-start: 0;
  -ms-padding-end: 0;
  -ms-padding-before: 0;
  -ms-padding-after: 0;
  -o-margin-before: 0;
  -o-margin-after: 0;
  -o-margin-start: 0;
  -o-margin-end: 0;
  -o-padding-start: 0;
  -o-padding-end: 0;
  -o-padding-before: 0;
  -o-padding-after: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 900;
  color: #111111;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

body {
  width: 100%;
  background: #111111;
}

#site-head,
#site-head > div {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  width: 100%;
  text-align: center;
  background: #1d2c41;
}

#site-head {
  min-height: 125px;
}

.no-js #site-head {
  position: absolute;
  height: 100%;
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
  z-index: 1000;
  background: #1D2C41;
}
.no-js #site-head > div {
  height: 50%;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
.no-js #site-head > div:first-of-type {
  justify-content: flex-end;
}

#site-head-content {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
#site-head-content .logo {
  position: relative;
}
#site-head-content .logo h1 {
  color: whitesmoke;
  font-size: 15rem;
  font-family: "monofur";
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: -9px;
  word-spacing: 0px;
  margin: 0;
  top: 0px;
  -webkit-transition: all, 1s;
  -moz-transition: all, 1s;
  transition: all, 1s;
}
#site-head-content .logo h1:hover {
  background: #75dec8;
  color: #fffbcf;
}

@media (max-width: 400px) {
  #site-head-content .logo h1 {
    font-size: 10rem;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    transition: all, 1s;
  }
}
@media (max-height: 250px) {
  #site-head-content .logo h1 {
    font-size: 9rem;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    transition: all, 1s;
  }
}
@media (max-height: 150px) {
  #site-head-content .logo h1 {
    font-size: 8rem;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    transition: all, 1s;
  }
}
.logo_o {
  position: relative;
}

.button {
  display: table;
  float: right;
  color: white;
  padding: 0.5rem;
}
.button a {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #1d2c41;
  color: #fffbcf;
  border: 2px solid #f05341;
}
.button a:hover {
  color: #9fedea;
  background: #f05341;
  border-color: #fffbcf;
}

.life, .workTypes, #main_nav > ul {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex: 1;
  align-content: center;
  justify-content: center;
}

#main_nav > ul {
  display: inline-flex;
}

#main_nav {
  margin: 0 auto;
  width: 50%;
  height: 5rem;
  min-width: 55rem;
}
#main_nav.updated {
  position: fixed;
  right: 0px;
  top: 0px;
}
#main_nav > ul {
  width: 100%;
  height: 100%;
  position: relative;
}
#main_nav > ul noscript {
  position: absolute;
  top: 150%;
  width: 100%;
  color: whitesmoke;
  right: 0;
}
#main_nav > ul.updated {
  flex-direction: column;
}

.life {
  width: 50%;
}

.workTypes {
  margin: 0 0.5rem;
}
.workTypes:not(:target):not(:hover) a {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.workTypes a {
  background: whitesmoke;
  margin: auto;
  padding: 1.6rem;
  width: 100%;
  box-sizing: border-box;
}
.workTypes a:hover {
  background: #75dec8;
}

.theme-1, .theme-1 a {
  background: #859ed8;
  color: #1d2c41;
}
.theme-1.variant-1, .theme-1 a.variant-1 {
  color: #9fedea;
}

.theme-2, .theme-2 a {
  background: #f05341;
  color: #1d2c41;
}
.theme-2.variant-1, .theme-2 a.variant-1 {
  color: whitesmoke;
}
.theme-2.variant-2, .theme-2 a.variant-2 {
  color: #9fedea;
}

.theme-3, .theme-3 a {
  background: #06baff;
  color: whitesmoke;
}
.theme-3 .logo, .theme-3 a .logo {
  background: #1d2c41;
}
.theme-3:hover, .theme-3 a:hover {
  color: #1d2c41;
}

#main_nav.responsive_nav {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
  height: auto;
  max-width: 10%;
  min-width: 0;
  height: 100%;
}

#main_nav.responsive_nav ul {
  flex-direction: column;
  align-content: space-between;
}

.responsive_nav .workTypes {
  margin: 1.2rem 0;
  flex-direction: column;
  vertical-align: middle;
}
.responsive_nav .workTypes a {
  margin: auto;
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  flex: 1;
}

@media all and (max-width: 960px) {
  .workTypes a {
    font-size: 1rem;
  }
}
.responsive_nav .workTypes a {
  padding: 0;
}

.post {
  background: #859ed8;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  margin: 20rem auto;
  position: relative;
  width: 100%;
}

.post-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center;
  background: #859ed8;
  padding: 2rem;
}

#post_2 .post-title:first-letter {
  letter-spacing: -6px;
}

.post-title {
  color: whitesmoke;
  font-size: 7rem;
}

.post-excerpt {
  max-width: 66%;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
}

.post-full {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 90%;
  position: relative;
  left: 10%;
}

.post-meta {
  display: none;
}

.iframe {
  display: flex;
  flex: 1;
  width: 100%;
}

img.inserted {
  max-width: 100%;
  height: auto !important;
  flex: none !important;
  min-height: 0px !important;
  margin: auto;
  width: auto !important;
}

.surround-inserted {
  display: flex;
}

.cf {
  overflow: hidden;
}
.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.hide {
  position: absolute;
  height: 0;
  top: 0;
  width: 0;
  left: 0;
  opacity: 0.0;
}

.collapsed {
  position: relative;
  top: 100rem;
}

.major_section.collapsed {
  top: 0;
  height: 8rem;
}

.collapsed {
  transition-property: all;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

/*# sourceMappingURL=blog.css.map */