@font-face {
  font-family: Avenir;
  src: url("/sass/fonts/avenir_next.ttf");
}

/* line 7, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 10, ../sass/style.scss */
li {
  list-style-type: none;
}

/* line 13, ../sass/style.scss */
ul, h1, h2, h3, h4, h5, h6, ul, li, p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

/* line 18, ../sass/style.scss */
html {
  font-size: 62.5%;
}

/* line 20, ../sass/style.scss */
header a, footer a, nav a {
  transition: all 1s;
  color: white;
}
/* line 23, ../sass/style.scss */
header a:hover, footer a:hover, nav a:hover {
  transition: all 1s;
  color: #0F5485;
  background: #eee;
}

/* line 30, ../sass/style.scss */
.top_nav {
  width: 100%;
  position: relative;
  height: 8rem;
  position: absolute;
}
/* line 35, ../sass/style.scss */
.top_nav ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  height: 100%;
  max-width: 96rem;
  min-width: 40rem;
  margin: auto;
}
/* line 45, ../sass/style.scss */
.top_nav li {
  display: table;
  text-align: center;
  transition: all 0.5s;
  background: #79DAFF;
  width: 7rem;
  height: 7rem;
  padding: 0.5rem;
}
/* line 53, ../sass/style.scss */
.top_nav li a {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 50%;
}

/* line 61, ../sass/style.scss */
body {
  font: normal normal 100 1.6rem "Avenir";
  background: #f5f5f5;
}

/* line 65, ../sass/style.scss */
body, header, footer, .main {
  margin: auto;
}

/* line 68, ../sass/style.scss */
.main, header h1 {
  margin: auto;
  max-width: 96rem;
  min-width: 40rem;
  width: 100%;
}

/* line 74, ../sass/style.scss */
header {
  background: #79daff;
  height: 8rem;
  display: flex;
}
/* line 78, ../sass/style.scss */
header h1 {
  padding-left: 4rem;
}

/* line 82, ../sass/style.scss */
h1 {
  font-size: 4.4rem;
  color: white;
}

/* line 86, ../sass/style.scss */
table {
  background: white;
  border-collapse: collapse;
  font: normal normal 100 2rem "Avenir" sans-serif;
}

/* line 91, ../sass/style.scss */
table, thead, tbody, tfoot {
  width: 100%;
}

/* line 94, ../sass/style.scss */
thead {
  font-size: 2.3rem;
}

/* line 97, ../sass/style.scss */
tbody {
  border-top: 20px;
}

/* line 100, ../sass/style.scss */
tr {
  width: 100%;
  border-spacing: 0;
  height: 60px;
}

/* line 105, ../sass/style.scss */
th {
  padding-left: 2rem;
}

/* line 108, ../sass/style.scss */
td {
  padding: 1rem 0 0 2rem;
}

/* line 111, ../sass/style.scss */
.hider {
  background: transparent;
  padding: 5px;
  border-left: none;
  border-right: none;
}

/* line 118, ../sass/style.scss */
.price, .description {
  padding-right: 60px;
  text-align: left;
}

/* line 122, ../sass/style.scss */
.price {
  white-space: nowrap;
}

/* line 125, ../sass/style.scss */
.description {
  text-transform: lowercase;
}

/* line 128, ../sass/style.scss */
sup {
  font-size: 1.2rem;
}

/* line 131, ../sass/style.scss */
tfoot {
  font: normal normal 300 1.4rem "Avenir", sans-serif;
}
/* line 132, ../sass/style.scss */
tfoot sup {
  font-size: 0.8rem;
}
/* line 135, ../sass/style.scss */
tfoot tr:first-of-type td:first-of-type {
  padding-top: 30px;
}
/* line 139, ../sass/style.scss */
tfoot tr {
  height: 30px;
}
/* line 142, ../sass/style.scss */
tfoot td {
  padding: 0.5rem 0 0 2rem;
}

/* line 149, ../sass/style.scss */
footer {
  width: 100%;
  background: #79daff;
}
/* line 152, ../sass/style.scss */
footer > div {
  max-width: 96rem;
  min-width: 40rem;
  margin: auto;
}
/* line 157, ../sass/style.scss */
footer p {
  display: table;
  float: right;
  color: white;
  padding: 0.5rem;
}
/* line 162, ../sass/style.scss */
footer p a {
  border: 1px solid white;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

/* line 174, ../sass/style.scss */
.stripe {
  height: 6rem;
}

/* line 177, ../sass/style.scss */
.animating {
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
}

/* line 183, ../sass/style.scss */
.cf {
  overflow: hidden;
}
/* line 185, ../sass/style.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}
/* line 189, ../sass/style.scss */
.cf:after {
  clear: both;
}

/* line 193, ../sass/style.scss */
.hide {
  position: absolute;
  height: 0;
  top: 0;
  width: 0;
  left: 0;
  opacity: 0.0;
}
