
.cf {
  overflow: hidden;
  &:before, &:after{
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.hide{
  position: absolute;
  height: 0;
  top: 0;
  width: 0;
  left: 0;
  opacity: 0.0;

}
.collapsed{
  position: relative;
  top: 100rem;
}
.major_section.collapsed{
  top: 0;
  height: 8rem;
}
.collapsed{
  transition-property: all;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;

}