//idea1: bouncy 'o' that falls from the top of the screen to it's normal position in o and bouces a few times; on hover it bounces more.
//idea2: on worktypes hover, it rotates 45degrees while the words stay horizontal, and then a div unhides and pushes it down so it's making a down arrow.
//idea2 variant: happens on click instead but the arrow's line height follows you down the page.


body{
  width:  100%;
  background: $black;
}
#site-head,
#site-head >div{
  @include display(flex);
  @include flex-direction(column);
  @include flex(1);
  width: 100%;
  text-align: center;
  background: $dark-purple;
}
#site-head{
  min-height: 125px;
}
.no-js{
  #site-head{
    position: absolute;
    height: 100%;
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background: #1D2C41;
    >div{
        height: 50%;
        position: relative;
        @include display(flex);
        @include align-content(center);
        @include justify-content(flex-start);
      &:first-of-type{
        justify-content: flex-end;
        }
    }
  }
}
#site-head-content{
  @include box-align(stretch);
  @include justify-content(flex-end);
  .logo {
    position:  relative;
    h1{
        color: $white;
      &:hover{
      }
      font-size:  15rem;
      font-family: "monofur";
      text-transform: lowercase;
      font-weight: 500;
      letter-spacing: -9px;
      word-spacing: 0px;
      margin:  0;
      top: 0px;
      @include transition(all, 1s);
      }
    }
  }
@media (max-width: 400px) {
  #site-head-content .logo h1{
   font-size:  10rem;
   @include transition(all, 1s);
  }
}
@media (max-height: 250px) {
  #site-head-content .logo h1{
   font-size:  9rem;
   @include transition(all, 1s);
  }
}
@media (max-height: 150px) {
  #site-head-content .logo h1{
   font-size:  8rem;
   @include transition(all, 1s);
  }
}

#page-head{
}
.logo_o{
  position: relative;
}


.button{
  display: table;
  float:right;
  color: white;
  padding: 0.5rem;
  a{
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    background:  $dark-purple;
    color:  $cream;
    border: 2px solid $orange;
    &:hover{
      color: $light-blue;
      background: $orange;
      border-color: $cream;
    }
  }
}
