.post{
  background: $purple;
  @include display(flex);
  @include flex-direction(column);
  margin: 20rem auto;
  position: relative;
  width: 100%;
}

.post-header{
  @include display(flex);
  @include flex-direction(column);
  @include align-content(center);
  @include justify-content(center);
  text-align: center;
  background: $purple;
  padding:  2rem;
}
//websites because w is too far out
#post_2 .post-title:first-letter{
  letter-spacing: -6px;
}
.post-title{
  color: $white;
  font-size: 7rem;
}
.post-excerpt{
  max-width:  66%;
  margin:  auto;
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);
  @include align-content(center);
}

.post-full {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 90%;
  position: relative;
  left: 10%;
}

.post-meta{
  display: none;
}
.post-footer{

}

.iframe{
  display: flex;
  flex: 1;
  width: 100%;
}

img.inserted {
  max-width: 100%;
  height: auto !important;
  flex: none !important;
  min-height: 0px !important;
  margin: auto;
  width: auto !important;
}
.surround-inserted{
  display: flex;
}

#whittl{
  color:  $white;
  > header h1{
    color: $light-blue;
    text-align: center;
  }
  a.allow{
    display: inline;
    padding: 0 2rem;
  }
  article{
    margin:  5rem auto 0;
    padding-bottom: 5rem;
    border-bottom: 1px solid $light-blue;
    header h1{
      color: $white;
        font-size: 2rem;
        margin: 2rem auto;
    }

    p, > header, summary, ol{
      max-width: 72rem;
      min-width: 48rem;
      margin:  auto;
    }
    ol li{
      list-style-type: inherit;
      margin: 2rem auto;
    }
      a{
        margin: auto;
        display: inline-block;
        padding: 2rem;
      }
    p{
      margin: 2rem auto;
    }
   }
summary{
  margin:  auto;
  text-align:  center;
}
  .no-iframe .post-full{
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    section{
      max-width: 45%;
      margin:  0 2rem;
    }
  }
  dt,dl, dd{
    display: inline;
  }
}
